
html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    align-items: center;
    height: 90vh;
}

#calculator {
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
    width: min(90vw, 450px);

    display: grid;
    grid:   'disp disp'
            'num aux'
            'num op' / 70% 30%;

    background-color: grey;
    background-image: linear-gradient(35deg,
        rgb(155, 155, 155),
        rgb(85, 85, 85) 35%,
        rgb(85, 85, 85) 65%,
        rgb(155, 155, 155)
        );
    border-radius: 50px;

    box-shadow: inset 3px 3px 5px lightgrey,
                inset -3px -3px 5px black;
}

#display {
    grid-area: disp;

    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;

    margin: 10px 20px;
    padding: 0 15px;
    background-color: hsl(120, 50%, 90%);
    border-radius: 500px;
    box-shadow: 2px 2px 5px lightgrey,
    -2px -2px 5px rgb(55, 55, 55);

    font-size: 24pt;
    line-height: 0;
}

#auxillary {
    grid-area: aux;

    display: flex;
    justify-content: space-around;
}

#auxillary button {
    width: 45%;
}

#numbers {
    grid-area: num;

    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

#numbers button {
    width: calc(33.33% - 20px);

    background-color: hsl(240, 50%, 85%);
}

#operators {
    grid-area: op;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#operators button {
    width: 40%;
    background-color: hsl(360, 75%, 85%);
}

#operators button[value='equals'] {
    width: 85%;
    background-color: hsl(360, 75%, 75%);
}

button {
    cursor: pointer;
    
    border: none;
    border-radius: 20px;
    height: 50px;
    margin: 5px;

    color: rgba(55, 55, 55, 95%);
    font-size: 20pt;
    font-family: 'Roboto Condensed', sans-serif;

    box-shadow: inset 1px 1px 3px lightgrey,
    inset -2px -2px 3px black;
}

.pressed {
    box-shadow: inset -1px -1px 2px lightgrey,
    inset 2px 2px 2px black;
}